{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Auto katalogs{% endblock %}</title>
    <link href="{% static '/stylesheet.css' %}" rel="stylesheet">

</head>
<body>
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">INFOAUTO</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="#">Tirgus</a></li>
                <li><a href="#">Meklēt</a></li>
                <li><a href="#">Favorīti</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        {% block content %}
        <!-- Content goes here -->
        {% endblock %}
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>
